# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool
*.coverprofile
*.cov

# Dependency directories (remove if you're vendoring)
vendor/

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Go Modules
go.sum